body{
    margin: 0;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}


h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: #121232;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration:none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;
}
.navbar a:hover{
    background-color: #0e0e29;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 25px;
    float: right;
}

.search-input{
    font-size: 16px;
    margin-left: 14px;
}

.search-icon{
    color: white;
}
